html,
body {
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Barra navegacion */
.topnav {
    background-color: whitesmoke;
    overflow: hidden;
    font-family: "Barlow";
}

.topnav a {
    float: left;
    color: #002ab6;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size: 2vw;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #002ab6;
    color: white;
}

/* Imagen principal */
.container {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
}

.maintitle {
    position: absolute;
    top: 2vw;
    left: 2vw;
    font-size: 4vw;
}

.sndtitle {
    font-family: "Barlow";
    position: absolute;
    top: 16vw;
    left: 2vw;
    font-size: 1.5vw;
    border-radius: 2vw;
    border-width: 0.2vw;
    border-color: #fff;
    border-style: solid;
    background: transparent;
    cursor: pointer;
}

.sndtitle:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.5);
}

.sndtitle a:link {
    color: white;
    font-size: 1.5vw;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Testimonios */
.testimonios {
    background-color: #f3f3f3;
    padding-top: 1vw;
    font-family: "Barlow";
    position: relative;
    width: 100vw;
    text-align: center;
}

.tt {
    position: relative;
    text-align: center;
    width: 96vw;
    padding: 2vw;
    margin-bottom: 2vw;
}

/* Ubicacion */
.txtub {
    font-family: "Dosis";
    color: gray;
    position: relative;
    text-align: center;
    width: 100vw;
}

.responsive-map-container {
    position: relative;
    padding-bottom: 60vw;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 601px) {

    .responsive-map-container iframe,
    .responsive-map-container object,
    .responsive-map-container embed {
        position: absolute;
        top: 8vw;
        left: 20vw;
        width: 60%;
        height: 60%;
    }
}

/* Datos Escribana */
.caro {
    background-color: #f3f3f3;
    padding-top: 10vw;
    padding-bottom: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100vw;
}

.caroimage {
    flex-basis: 40%
}

.caroname {
    padding-left: 4vw;
}

.desc {
    padding-left: 2vw;
    font-family: "Aboreto";
}

.ti3 {
    padding-left: 2vw;
    font-family: "Aboreto";
}


.ti3a {
    padding-left: 2vw;
    font-family: "Aboreto";
}

@media screen and (min-width: 601px) {
    .responsive {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .responsive {
        font-size: 10px;
    }
}

/* Estilos de titulos */
h1,
h2 {
    font-family: "Aboreto";
    color: rgb(34, 34, 34);
    text-shadow: rgb(71, 71, 71) -0.8vw 0.8vw 0.8vw;
}